<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>
    <h1>Students List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{% if student.subject == 'Music' %}
                    <strong>
                        {{ student.name }}
                    </strong>
                    {% else %}
                    {{student.name}}
                    {% endif %}
                </td>
                <td>{{ student.subject }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>